@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

@media screen and (max-width: 640px) {
  html {
    font-size: 3.5vw;
  }
}

@media screen and (min-width: 768px) and (max-width: 1464px) {
  html {
    font-size: 1.11vw;
  }
}

@media screen and (min-width: 2383px) {
  #nav-right-overlay {
    display: none;
  }
}

.bg-zigzag-animation:after {
  content: "";
  position: absolute;
  width: 100%;
  left: 0;
  height: 38px;
  background: #000;
  background-repeat: repeat-x;
  background-image: url("./assets/images/zigzag-box.png");
  bottom: 0;
  -webkit-animation: bgSlide 20s linear infinite;
  animation: bgSlide 20s linear infinite;
}

@-webkit-keyframes bgSlide {
  0% {
    background-position: 0 0;
  }
  20% {
    background-position: -100px 0;
  }
  40% {
    background-position: -200px 0;
  }
  60% {
    background-position: -150px 0;
  }
  80% {
    background-position: -100px 0;
  }
  100% {
    background-position: 0px 0;
  }
}

@keyframes bgSlide {
  0% {
    background-position: 0 0;
  }
  20% {
    background-position: -100px 0;
  }
  40% {
    background-position: -200px 0;
  }
  60% {
    background-position: -150px 0;
  }
  80% {
    background-position: -100px 0;
  }
  100% {
    background-position: 0px 0;
  }
}
